.style1 {
  filter: sepia(10%);
}
.style2 {
  filter: grayscale(40%);
}
.style3 {
  filter: blur(5px);
}
.style4 {
  filter: saturate(150%);
}
.style5 {
  filter: brightness(150%);
}
.style6 {
  filter: contrast(250%);
}
.style7 {
  filter: hue-rotate(90deg);
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cropper-container {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cropped-buttons {
  margin-top: 20px;
  transform: translateY(450%);
  display: flex;
  gap: 10px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
